<nav class="header">
    <div class="logo">
        <!-- Si tienes un logo o nombre -->
        <a routerLink="/">Torneo</a>
    </div>

    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/disciplinas">Disciplinas</a></li>
        <li><a routerLink="/inscripciones">Inscripciones</a></li>
        <li class="user-menu" *ngIf="auth.isLoggedIn(); else loginLink">
            <span class="material-icons" (click)="toggleDropdown()">person</span>
            <ul class="dropdown" *ngIf="showDropdown">
                <li><a routerLink="/admin" (click)="toggleDropdown()">Ir a Admin</a></li>
                <li><a href="#" (click)="logout()">Cerrar sesión</a></li>
            </ul>
        </li>
        <ng-template #loginLink>
            <li>
                <a routerLink="/login">
                    <span class="material-icons">person</span>
                </a>
            </li>
        </ng-template>
    </ul>
</nav>
