<button (click)="toggleEquipos()">Equipos</button>
<button (click)="toggleEliminatoria()">Fase eliminatoria</button>

<div *ngIf="mostrarEquipos && equipos?.length">
    <h3>Equipos</h3>
    <ul>
        <li *ngFor="let equipo of equipos">{{ equipo.nombre }}</li>
    </ul>
</div>

<div *ngIf="mostrarEliminatoria">
    <h3>Cuadro Eliminatorio</h3>

    <ng-container *ngIf="ultimaImagenUrl; else sinImagen">
        <img [src]="ultimaImagenUrl" alt="Última imagen del cuadro eliminatorio">
    </ng-container>

    <ng-template #sinImagen>
        <p>No hay imagen subida aún para esta eliminatoria.</p>
    </ng-template>
</div>